{% include "header.html" %}
{% block content %}
<div class="below-nav homeHeading">
<h4> Welcome to s3 bucket creation </h4>
<form method="post" action="/creates3">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="bucketName">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Region</label>
        <input type="text" class="form-control" name="bucketLocation" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}